aiohappyeyeballs
aiohttp
aiohttp-retry
aiosignal
altgraph
annotated-types
anyio
astor
async-timeout
attrs
beautifulsoup4
blinker
blis
bs4
cachetools
catalogue
certifi
chardet
charset-normalizer
click
cloudpathlib
colorama
colorlog
confection
cssselect
cssutils
cymem
dataclasses-json
decorator
distro
dnspython
dotenv
dateparser==1.1.8
einops
et_xmlfile
exceptiongroup
filelock
Flask
flask-cors
Flask-PyMongo
Flask-SQLAlchemy
frozenlist
fsspec
ftfy
future
GPUtil
griffe
h11
hf-xet
httpcore
httpx
httpx-sse
huggingface-hub
idna
imagesize
importlib_metadata
itsdangerous
Jinja2
jiter
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-experimental
langchain-openai
langchain-text-splitters
langcodes
langsmith
language_data
lxml
macholib
marisa-trie
markdown-it-py
MarkupSafe
marshmallow
mdurl
more-itertools
multidict
murmurhash
mypy_extensions
networkx
numpy
openai
openai-agents
opencv-contrib-python
opencv-python
openpyxl
opt-einsum
orjson
outcome
packaging
pandas
pillow
pinecone
pinecone-client
pinecone-plugin-assistant
pinecone-plugin-interface
premailer
preshed
prettytable
propcache
protobuf
psycopg2-binary
py-cpuinfo
pyclipper
pydantic
pydantic-settings
pydantic_core
Pygments
PyJWT
pymongo
PyPDF2
pypdfium2
PySocks
pytesseract
python-dateutil
python-docx
python-dotenv
pytz
PyYAML
RapidFuzz
regex
requests
requests-toolbelt
rich
ruamel.yaml
ruamel.yaml.clib
scikit-learn
scipy
selenium
shapely
shellingham
six
smart-open
sniffio
sortedcontainers
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
tenacity
tesseract
thinc
threadpoolctl
tiktoken
tokenizers
tqdm
trio
trio-websocket
twilio
typer
types-requests
typing-inspect
typing-inspection
typing_extensions
ujson
urllib3
wasabi
wcwidth
weasel
websocket-client
Werkzeug
wrapt
wsproto
yarl
zipp
zstandard
webdriver-manager
